.projectDetail{
    position: fixed;
    top: 10%;
    left: 20%;
    max-width: 60vw;
    border-radius: .5rem;
}
.projectDetail img{
   width: 100%;
}
.imgDetail{
    position: relative;
    max-width: 100vw;
    max-height: 50vh;
    min-width: 50vw;
    overflow: hidden scroll;
}
/* .carousel-item{
    position: relative;
    max-width: 100%;
    padding: 1rem;
} */
@media only screen and (max-width: 500px) {
    .projectDetail{
        max-width: 90vw;
        left: 5%;
    }
    .imgDetail{
        position: relative;
        max-width: 100vw;
        min-width: 50vw;
        overflow: hidden scroll;
    }
    /* .projectDetail img{
        width: 100%;
    } */
  }