html{
  font-size: 62.5%;
  box-sizing: border-box;
  max-width: 100vw;
}
body{
  font: 1.6rem Helvetica;
  min-height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}
main{
  padding: 2rem;
}
ul{
  list-style-type: none;
}
header{
  position: fixed;
  background-color: #f7f7f7;
  font-size: 2rem;
  z-index: 10;
  width: 100vw;
}